{
    "model_filters": {
        "include": [
            "^gpt-.*",
            "^claude-.*",
            ".*-sonnet$"
        ],
        "exclude": [
            ".*-test$",
            "^experimental-.*"
        ]
    },
    "subAccounts": {
        "subAccount1": {
            "resource_group": "default",
            "service_key_json": "subAccount1_service_key.json",
            "deployment_ids": {
                "gpt-4o": [
                    "d123456789"
                ]
            },
            "deployment_models": {
                "3.7-sonnet": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_3>"
                ],
                "3.5-sonnet": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_4>"
                ],
                "gpt-o3-mini": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_5>"
                ]
            }
        },
        "subAccount2": {
            "resource_group": "default",
            "service_key_json": "subAccount2_service_key.json",
            "deployment_models": {
                "gpt-4o": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_6>"
                ],
                "3.7-sonnet": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_7>"
                ],
                "3.5-sonnet": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_8>"
                ],
                "gpt-o3-mini": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_9>"
                ]
            }
        }
    },
    "secret_authentication_tokens": [
        "<authentication_token_1>",
        "<authentication_token_2>"
    ],
    "port": 3001,
    "host": "0.0.0.0"
}