{
    "model_filters": {
        "include_filters": [
            "^gpt-.*",
            "^claude-.*",
            ".*-sonnet$"
        ],
        "exclude_filters": [
            ".*-test$",
            "^experimental-.*"
        ]
    },
    "subAccounts": {
        "subAccount1": {
            "resource_group": "default",
            "service_key_json": "subAccount1_service_key.json",
            "orchestration_url": "https://api.ai.prod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<orchestration_deployment_id>/completion"
        },
        "subAccount2": {
            "resource_group": "default",
            "service_key_json": "subAccount2_service_key.json",
            "orchestration_url": "https://api.ai.prod-us10.us-east-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<orchestration_deployment_id>/completion"
        }
    },
    "secret_authentication_tokens": [
        "<authentication_token_1>",
        "<authentication_token_2>"
    ],
    "port": 3001,
    "host": "0.0.0.0",
    "ca_cert_bundle": null
}
